__pycache__
tensorboard
commands

*.log
*.pt
*.tar
*.pkl
*.bat
*.pth
*.png
*.jpg
*.sh
*.pdf
*.info
*.pyc

wandb/
data/
.vscode/
arnold/

data/__pycache__/*
models/__pycache__/*
results
notebooks
__pycache__/*

data/ihdp_class.py

my_credentials.json
run_arnold.py